{% extends 'base.html.twig'%}

{% block body %}
<h1>la vie est une belle saloppe </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Animi architecto doloribus eius expedita,
        facere hic illum impedit labore laboriosam
        minus non nulla perspiciatis possimus quam quisquam
        tempore, velit vitae voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusantium animi consequuntur, cumque debitis,
        deserunt ipsa iste labore laudantium molestiae necessitatibus nihil,
        omnis optio perferendis placeat praesentium quae quam quas repellat?</p>

{% endblock %}