{% extends 'base.html.twig' %}

{% block title %}LetSeat c'est quoi ??{% endblock %}

{% block body %}

    <h1 class="mt-5">Ici un memoire au sujet de LetSeat</h1>

    <h3 class="mt-5">Enfin en attendant que je le redige voici un petit docmentaire:</h3>
    </br>
    <p class="mt-5">Truite
        Page d’aide sur l’homonymie	Pour les articles homonymes, voir La Truite.
        Truite</br>
        Nom vulgaire ou nom vernaculaire ambigu :
        l'appellation « Truite » s'applique en français à plusieurs taxons distincts.
        Description de cette image, également commentée ci-après
        Truite arc-en-ciel
        Taxons concernés
        </br>
        Dans la famille des Salmonidés
        Dans les genres :

        Oncorhynchus
        Salmo
        modifierConsultez la documentation du modèle
        </br>
        Le terme truite est un nom vernaculaire ambigu désignant plusieurs espèces de poissons de la famille des salmonidés.
        </br>
        Les truites vivent dans des eaux claires et vives, principalement en Amérique du Nord, en Europe,
        dans le nord de l'Asie et dans les rivières de l'Atlas au Maroc. Elles ont été également introduites
        en Australie et en Nouvelle-Zélande au xixe siècle. Selon les espèces, la durée de vie peut varier de
        7 ans à plusieurs dizaines d'années. Une truite de 80 cm peut dépasser les 5 kg. Certains spécimens
        vivant en lac dépassent le mètre et 15 kg.
        </br>

        Sommaire
        1	Description
        2	Pêche
        3	Physiologie, comportement et écologie
        4	Espèces
        5	État des populations
        5.1	Truites triploïdes
        6	Voir aussi
        7	Notes et références
        8	Annexes
        8.1	Articles connexes
        </br></br>
        Description
        Les truites n'ont pas d'épines dans les nageoires, et elles possèdent toutes une nageoire
        adipeuse à l'arrière, proche de la queue, qui est une caractéristique commune à tous les salmonidés.
        </br>
        Bien que la plupart des truites vivent exclusivement en eau douce, certaines espèces
        (Oncorhynchus mykiss et Salmo trutta ou fario notamment) présentent des spécimens qui passent
        leur vie adulte dans l'océan et remontent les rivières pour se reproduire. on parle alors de truite de mer.
        </br>

        Truite dorée
        Les truites sont carnivores. Elles se nourrissent principalement de vers et d'insectes,
        mais les espèces et les spécimens les plus imposants chassent également d'autres poissons,
        particulièrement les vairons.
        </br>
        <div class="logo"><img src="/assets/img/logo.png" height="500px" width="550px" class="rounded mx-auto d-block"></div>
        </br>
        Filet de truite, coupé en « pavé de truite ».
        La truite saumonée est une appellation de truites le plus souvent de truite arc-en-ciel
        d'élevage, ayant la chair couleur saumon du fait de leur alimentation.
        </br>
        Pêche
        Les qualités gustatives en cuisine de la truite sauvage sont largement reconnues.
        Par le biais de la pêche en milieu naturel, elle est de ce fait assez recherchée pour cela.
        </br>
        La pratique de la pêche (de loisir ou de façon sportive) de la truite peut se réaliser de plusieurs façons :

        Pêche aux appâts naturels
        Pêche au toc
        Pêche au vairon manié
        Pêche au vif
        Pêche au appâts artificiels
        Pêche aux leurres
        Pêche à la mouche
        Des œufs fécondés sont placés sur des frayères artificielles, et des alevins sont élevés et relâchés dans
        les rivières, pour participer au repeuplement de milieux dégradés, menacés ou surexploités. Néanmoins,
        si ces pratiques sont souhaitables et bénéfiques lorsqu'il s'agit d'espèces autochtones, elles ne contribuent
        pas à la sélection naturelle, peuvent poser des problèmes de diversité génétique et sont néfastes lorsqu'il
        s'agit d'introduire des espèces exogènes, ou des poissons susceptibles d'être anormalement porteurs de maladies ou parasites.
        </br>
        Par exemple, en France :
        </br>
        l'introduction de la truite arc-en-ciel, souvent pour répondre à une gestion à court terme de
        la ressource halieutique, provoque à terme la disparition de la truite fario avec laquelle elle entre en concurrence alimentaire ;
        l'introduction massive et répétitive de truites farios de souche « atlantique » (généralement
        en provenance d'élevages danois) est la cause de la quasi-disparition de la truite fario de
        souche « méditerranéenne » à cause de la « pollution » génétique due au métissage. De rares
        groupes sont restés génétiquement « purs », essentiellement dans les rivières corses.
        Pour tenter de remédier à cet état de fait, de nombreuses AAPPMA, outre des mesures de protection
        u groupe local (augmentation de la maille, création de parcours no-kill...) ont mis en place des
        structures de production et d'élevage de la souche locale.
        Physiologie, comportement et écologie
        </br>
        Les caractéristiques générales des truites sont celles des Salmonidés (régime insectivore-carnivore,
        préférence pour les eaux vives et fraîches, les hauts de bassins versants, truitelles cherchant selon certains auteurs à
        éviter les zones de courant faible et de substrats fins (vase notamment)1, avec des nuances pour chaque espèce et
        selon les contextes écopaysagers (Par exemple les jeunes salmonidés grandissent plus vite dans les étangs créés
        par les barrages de castors ou dans leurs petits canaux2, pourtant assimilables à des systèmes lentiques3 ;
        dans l'Est du Canada où cohabitent encore saumons et castors, les saumons atlantiques âgés de 2 ans bénéficient
        d’une croissance plus rapide en été (en longueur et en poids) et ils sont en meilleure santé que les tacons qui
        ont grandi en amont ou en aval de l'étang du castor4). Les saumons, et certaines truites accomplissent une partie de leur cycle de vie en mer.
        Voir les articles détaillés pour plus d'informations sur leur description ou leur mode de vie.
        </br>
        Des expériences faites sur les truites ont démontré qu'elles sont sensibles à la douleur.
        Lorsqu'injectées avec du venin d'abeille ou de l'acide acétique, la respiration des truites s'accélère
        et elles frottent la partie affectées contre les objets à leur disposition5,6.
        </br>
        Espèces
        Salmo trutta ou truite d'Europe, au sein de cette espèce :
        ses morphes :
        truite fario en cours d'eau ou truite commune — Salmo trutta trutta ou Salmo trutta fario ;
        truite de lac — Salmo trutta lacustris ou truite argentée ;
        truite de mer Ce lien renvoie vers une page d'homonymie
        truite ferox -- Salmo trutta ferox
        et une sous-espèce : Truite à grosses taches — Salmo trutta macrostigma.
        Truite à lèvres molles — Salmo obtusirostris ;
        Truite mouchetée ou Omble de fontaine (Salvelinus fontinalis) ;
        Truite arc-en-ciel, dite encore Truite Rose — Oncorhynchus mykiss ;
        Truite dorée — Oncorhynchus aguabonita ou Oncorhynchus mykiss aguabonita ;
        Truite fardée — Oncorhynchus clarkii ;
        Truite marbrée — Salmo marmoratus.
        Truite Adriatique (?) — Salmo trutta cenerinus (Nardo, 1847)7
        </br>
        État des populations
        Il varie beaucoup selon les lieux. La truite est considérée comme ayant besoin d'une eau de bonne qualité,
        fraiche et oxygénée, dans un cours d'eau plutôt hétérogène, avec des caches et avec quelque frayères de
        graviers propres où elle pourra déposer ses œufs. Dans de nombreux cas dresser un état des populations est
        difficile en raison des réempoissonnements qui sont sources de biais statistiques, et d'hybridation entre souches
        autochtones et introduites difficiles à repérer (ex entre Salvelinus fontinalis et Salmo trutta) qui pourraient
        avoir des effets néfastes pour les deux espèces (en raison d'un chevauchement spatial et temporel dans localisations
        de frayères et des périodes de frai8. En termes de tendances ; comme l'anguille européenne, la truite est plutôt en
        régression en France, alors que d'autres espèces, plus petites et/ou introduites montrent une tendance à l'augmentation
        (en nombre d'individus et/ou en nombre d'espèces)9. Selon l'ONEMA10, le repeuplement piscicole par relâchers artificiels
        de truitelles, en rivière ou dans de grands lacs (lac du Bourget par exemple), pratique courante en France depuis plusieurs
        décennies, s'avère assez peu concluant en termes d'efficacité et ils présentent des risques génétiques et sanitaires pour les truites10.
        </br>
        Truites triploïdes
        Des truites triploïdes (truite arc-en-ciel) sont artificiellement produites. Il s'agit de femelles de taille exceptionnelle
        et à croissance rapide, car leur stérilité induite fait que leur métabolisme n'est plus « détourné » par les besoins
        de la reproduction mais uniquement affecté à leur croissance. Elles sont obtenues en induisant une anomalie du
        développement embryonnaire faisant que les cellules de cette truite contiendront trois génomes complets au lieu
        de deux, via un procédé mis au point en France par l'INRA au début des années 198011,12,13 et ensuite perfectionné14,15).
        </br>
        À peu près à la même époque, ans les années 1980-1990 une variété d'huître triploïde a aussi été créée et mise
        sur le marché, généralisée à partir de 1999, date à laquelle l'IFREMER (Institut public français de recherche pour
        l'exploitation de la mer) met en œuvre, avec les écloseries françaises, une technique développée par l'université
        américaine Rutgers qui permet d'obtenir des huîtres triploïdes et stériles.
        </br>
        Au même moment on constatait qu'il était relativement facile de modifier génétiquement les truites, par injection
        de gènes dans le cytoplasme de l'œuf16.
        </br>
        Chez les poissons, des souches triploïdes peuvent être créées de 2 manières :

        en supprimant de la seconde division de la méiose de l’ovule. La triploïdie est alors due au fait que le génome
        embryonnaire est constitué de 2n chromosomes de la mère et de n chromosomes du père.
        par inhibition chimique de la première mitose de l’embryon. Dans ce cas les chromosomes dupliqués lors de la 1ère
        mitose ne sont pas séparés, et les poissons sont des tétraploïdes fertiles qui produiront adultes essentiellement
        des gamètes équilibrés17,18,19. Si par exemple des ovules de femelles diploïdes normales sont fécondés par du
        sperme de mâles tétraploides, la descendance est alors triploïde ;
        Selon Quillet & al.,(1988) chez les salmonidés les individus triploïdes sont tous stériles et n’auront donc
        pas de descendance s’ils s’enfuient dans la nature ou y sont relâchés20. Ils n’interagiront avec les populations
        autochtones que par compétition ou éventuelle introduction de parasites ou microbe provenant des élevages.
        À la fin des années 1980 on ignorait si les triploïdes se montreraient ou non dans la nature plus compétitifs
        que les individus normaux. En 2010 avec ses collègues, Quillet estime que la triploïdie est un moyen utile de
        « stérilisation des cheptels piscicoles »21.
        </br>
        R Guyomard de l'Inra considérait en 1989 que ces souches triploïdes sont « un bon moyen d’introduire une souche
        ayant des caractéristiques particulières (si la triploïdisation n’affecte pas celles-ci) sans menacer
        l’intégrité génétique des peuplements autochtones »22.
        </br>
        Des tests organoleptique et de facilité de conservation (par fumage) ont montré des différences significatives
        entre les truites normales et triploïdes, différences qui changent selon la saison (La truite diploïde fumée se
        comporte mieux que la truite triploïde, en mars et en juin. En septembre, le phénomène s'inverse probablement en
        raison d'un début de maturation des diploïdes.)
        </br>
        Tout comme pour les hybrides et les poissons transgéniques, les effets de l'introduction dans la nature de tels
        « animaux modifiés » sont discutés. Une crainte est que les individus triploïdes (qui sont au même âge que les
        individus sauvages plus grands et plus forts) puissent être plus compétitifs dans la recherche de nourriture ou
        l'appropriation des meilleurs habitats.</p>
    <h5 class="mt-5">PS: ceci est le copier coller de la page wiki de la truite dsl j'avais pu d inspiration =) </h5>


{% endblock %}
