{% extends 'base.html.twig' %}

{% block title %}LetSeat c'est quoi ??{% endblock %}

{% block body %}

        <div class="bg text-center sizefooter" style="border-bottom:#0a6704 solid;">
            <div style="text-align: center;">
                <img src="https://i.skyrock.net/7122/11597122/pics/2439790137_1.jpg" class="img-icon col-3" >
                <img src="https://symfony.com/logos/symfony_black_03.png" class="img-icon col-5" >
                <img src="https://i.skyrock.net/7122/11597122/pics/2439790137_1.jpg" class="img-icon col-3" >
            </div>
        </div>
        <div class="container-fluid bg-3 text-left" style="text-align:center;">

            <hr>
        </div>
        <div class="bg-1 sizefooter">

            <p style="font-size: 13px;">
        </div>
{% endblock %}
